### 문제
- 1부터 1000까지의 합을 구하는데 합계가 900이 넘어가는 최초의 숫자는 무엇인가?
    1. 합계라는 변수를 하나 지정 0을 대입
    2. for, while문을 사용하여 1부터 1000까지의 합계를 구하는 반복문 생성
    3. 합계가 900이 넘어가는 순간 break
    4. break 당시의 i 값을 출력

In [2]:
sum_1 = 0
for i in range(1,1001,1):
    sum_1 += i
    if sum_1 > 900:
        break

print(i)
print(sum_1)

42
903

In [3]:
sum_2 = 0
for i in range(1,100001,1):
    sum_2 += i
    if sum_2 > 1000000:
        break

print(i)
print(sum_2)

1414
1000405

- 1부터 70까지 숫자들 중에 3의 배수를 리스트의 형태로 만들어서 출력
    1. 비어있는 리스트를 하나 생성
    2. 1부터 70까지 반복을 하는 반복문 생성
    3. 1부터 70까지 항목들을 비어있는 리스트에 추가
    4. 3의 배수인 값들만 리스트에 추가

In [4]:
_list = []
for i in range(1,71,1):
    if i % 3 == 0:
        _list.append(i)

print(_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [5]:
_list00 = []
for i in range(1,1001,1):
    if i % 5 == 0:
        _list00.append(i)

print(_list00)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995, 1000]

- test_data에서 연령대가 20대인 사람의 이름을 리스트로 출력하시오.
    1. 비어있는 리스트를 생성
    2. test_data의 항목들을 반복문을 이용하여 출력
    3. 각 항목들의 나이를 출력
    4. 조건을 생성하여 연령대가 20대인 항목을 출력
    5. 20대인 항목에서 이름의 값만 출력
    6. 해당하는 이름들을 리스트에 추가

In [6]:
# DB와 Python을 연동하여 데이터를 받으면
# 데이터의 형태 [{}, {}]

# 테스트 데이터 생성
test_data = [
    {
        "name" : "박태원",
        "age" : 27,
        "area" : "Seoul"
    },
    {
        "name" : "김정표",
        "age" : 25,
        "area" : "Seoul"
    },
    {
        "name" : "정지영",
        "age" : 32,
        "area" : "Jeju"
    },
    {
        "name" : "임예찬",
        "age" : 37,
        "area" : "Busan"
    },
    {
        "name" : "류성열",
        "age" : 33,
        "area" : "Jeju"
    },
    {
        "name" : "김치완",
        "age" : 22,
        "area" : "Seoul"
    },
    {
        "name" : "장준호",
        "age" : 26,
        "area" : "Jeju"
    },
    {
        "name" : "김현하",
        "age" : 24,
        "area" : "Busan"
    }
]

In [7]:
freind = []

for i in range(0, len(test_data), 1):
    if test_data[i]['age'] >= 20 and test_data[i]['age'] < 30:
        freind.append(test_data[i]['name'])

print(freind)

['박태원', '김정표', '김치완', '장준호', '김현하']

In [8]:
_list01 = []

for i in test_data:
    if i['age'] >= 20 and i['age'] < 30:
        _list01.append(i['name'])

print(_list01)

['박태원', '김정표', '김치완', '장준호', '김현하']

In [9]:
_list02 = []
for i in test_data:
    if i['area'] == "Seoul":
        _list02.append(i['name'])

print(_list02)

['박태원', '김정표', '김치완']

In [10]:
_list03 = []
for i in test_data:
    if i['age'] >= 30 and i['age'] < 40:
        _list03.append(i['name'])

print(_list03)

['정지영', '임예찬', '류성열']

In [11]:
_list04 = []
for i in test_data:
    if i['area'] == "Jeju":
        _list04.append(i['name'])

print(_list04)

['정지영', '류성열', '장준호']

In [12]:
_list05 = []
for i in test_data:
    if i['area'] == "Busan":
        _list05.append(i['name'])

print(_list05)

['임예찬', '김현하']

In [13]:
_list06 = []
for i in test_data:
    if i['age'] >= 20 and i['age'] < 30 and i['area'] == "Jeju":
        _list06.append(i['name'])

print(_list06)

['장준호']

In [14]:
_list07 = []
for i in test_data:
    if i['age'] >= 30 and i['age'] < 40 and i['area'] == "Jeju":
        _list07.append(i['name'])

print(_list07)

['정지영', '류성열']

In [15]:
_list08 = []

for i in test_data:
    if i['area'] == "Seoul" and i['age'] == 27:
        _list08.append(i)

print(_list08)

[{'name': '박태원', 'age': 27, 'area': 'Seoul'}]

In [16]:
_list09 = []
for i in test_data:
    if i['age'] > 10 and i['age'] < 40:
        _list09.append(i['name'])

print(_list09)

['박태원', '김정표', '정지영', '임예찬', '류성열', '김치완', '장준호', '김현하']

In [18]:
_list10 = []
for i in test_data:
    if i['age'] >= 20 and i['age'] < 40 and i['area'] == "Seoul":
        _list10.append(i['name'])
    
print(_list10)

['박태원', '김정표', '김치완']

In [19]:
_list11 = []
for i in test_data:
    if i['area'] == "Jeju":
        _list11.append(i['name'])

print(_list11)

['정지영', '류성열', '장준호']

In [21]:
_list12 = []
for i in test_data:
    if i['area'] == "Seoul" or i['area'] == "Jeju" or i['area'] == "Busan":
        _list12.append(i['name'])

print(_list12)

['박태원', '김정표', '정지영', '임예찬', '류성열', '김치완', '장준호', '김현하']