# mongodb
1. 라이브러리 설치
2. 라이브러리 로드
3. CRUD -> create r? update delete

In [89]:
!pip3 install pymongo

Requirement already satisfied: pymongo in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pymongo) (2.3.0)

In [90]:
from pymongo import MongoClient

In [91]:
client = MongoClient(
    host = 'localhost',
    port = 27017
)

In [92]:
# mongodb에 있는 데이터베이스의 목록 출력
client.list_database_names()

['admin', 'config', 'local', 'ubion']

In [93]:
# 데이터베이스를 선택
db = client['ubion']

In [94]:
# collection 접근 (collection은 sql에서 table과 같은 의미)
collection = db['test']

In [95]:
# CRUD -> C
# create -> insert()
# insert_one() / insert_many()
data = {
    'id' : 'test',
    'pass' : '1234',
}
collection.insert_one(data)

In [96]:
collection.find_one()

{'_id': ObjectId('643f8cc53e5de3f745fb68d5'),
 'name': 'test1',
 'phone': '01011112222',
 'gender': 'male'}

In [97]:

# 해시값 : 암호화 된 데이터로 32자리 수

In [98]:
data = [
    {
        'name' : 'test1',
        'phone' : '01011112222',
        'gender' : 'male'
    },
    {
        'loc' : 'seoul'
    }
]
collection.insert_many(data)

In [99]:
list(collection.find())

[{'_id': ObjectId('643f8cc53e5de3f745fb68d5'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f8cc53e5de3f745fb68d6'), 'loc': 'seoul'},
 {'_id': ObjectId('643f96c63e5de3f745fb68d9'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f96c63e5de3f745fb68da'), 'loc': 'seoul'},
 {'_id': ObjectId('643f96d33e5de3f745fb68dd'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f96d33e5de3f745fb68de'), 'loc': 'seoul'},
 {'_id': ObjectId('643f96f93e5de3f745fb68e0'), 'id': 'test', 'pass': '0000'},
 {'_id': ObjectId('643f96fa3e5de3f745fb68e1'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f96fa3e5de3f745fb68e2'), 'loc': 'seoul'},
 {'_id': ObjectId('643f97143e5de3f745fb68e4'), 'id': 'test', 'pass': '1234'},
 {'_id': ObjectId('643f97143e5de3f745fb68e5'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f97143e5de3f745fb68e6'), 'loc': 'seoul'}]

1. sql에서 test table에서 name이 test1인 경우의 데이터를 출력
    - select * from test where name = 'test1'

In [100]:
list(collection.find({"name" : "test1"}))

[{'_id': ObjectId('643f8cc53e5de3f745fb68d5'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f96c63e5de3f745fb68d9'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f96d33e5de3f745fb68dd'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f96fa3e5de3f745fb68e1'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f97143e5de3f745fb68e5'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'}]

1. 해당하는 컬럼의 데이터만 출력하려면
    - select name from test

In [101]:
list(collection.find({}, {'name':1}))

[{'_id': ObjectId('643f8cc53e5de3f745fb68d5'), 'name': 'test1'},
 {'_id': ObjectId('643f8cc53e5de3f745fb68d6')},
 {'_id': ObjectId('643f96c63e5de3f745fb68d9'), 'name': 'test1'},
 {'_id': ObjectId('643f96c63e5de3f745fb68da')},
 {'_id': ObjectId('643f96d33e5de3f745fb68dd'), 'name': 'test1'},
 {'_id': ObjectId('643f96d33e5de3f745fb68de')},
 {'_id': ObjectId('643f96f93e5de3f745fb68e0')},
 {'_id': ObjectId('643f96fa3e5de3f745fb68e1'), 'name': 'test1'},
 {'_id': ObjectId('643f96fa3e5de3f745fb68e2')},
 {'_id': ObjectId('643f97143e5de3f745fb68e4')},
 {'_id': ObjectId('643f97143e5de3f745fb68e5'), 'name': 'test1'},
 {'_id': ObjectId('643f97143e5de3f745fb68e6')}]

1. 데이터의 수정
    - update test set pass = '0000' where id = 'test'
    - test 테이블의 id가 test인 데이터에서 pass의 값을 0000으로 수정하겠다

In [102]:
collection.update_one(
    {
        "id" : "test"
    },
    {
        "$set" : {
            'pass' : '0000'
        }
    }
)

In [103]:
collection.find_one()

{'_id': ObjectId('643f8cc53e5de3f745fb68d5'),
 'name': 'test1',
 'phone': '01011112222',
 'gender': 'male'}

1. 데이터의 삭제
    - delete from test where id = 'test'
    - test 테이블에서 id가 'test'인 데이터를 삭제

In [104]:
collection.delete_one(
    {
        'id' : 'test'
    }
)

In [105]:
list(collection.find())

[{'_id': ObjectId('643f8cc53e5de3f745fb68d5'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f8cc53e5de3f745fb68d6'), 'loc': 'seoul'},
 {'_id': ObjectId('643f96c63e5de3f745fb68d9'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f96c63e5de3f745fb68da'), 'loc': 'seoul'},
 {'_id': ObjectId('643f96d33e5de3f745fb68dd'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f96d33e5de3f745fb68de'), 'loc': 'seoul'},
 {'_id': ObjectId('643f96fa3e5de3f745fb68e1'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f96fa3e5de3f745fb68e2'), 'loc': 'seoul'},
 {'_id': ObjectId('643f97143e5de3f745fb68e4'), 'id': 'test', 'pass': '1234'},
 {'_id': ObjectId('643f97143e5de3f745fb68e5'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f97143e5de3f745fb68e6'), 'loc': 'seoul'}]

In [106]:
list(client['ubion']['test2'].find())

[]

### mongodb select 조건식

    - find(옵션1, 옵션2, 옵션3, ... , 컬럼 선택)
        
        1. db.collection.find() -> SELECT * FROM TABLE
        2. db.collection.find({}, {"id:1, "pass":1}) -> SELECT ID, PASS FROM TABLE
        3. db.collection.find({}, {"id":1, "pass":1, "_id" :0}) -> 2번 과정과 같은 sql문이지만, _id를 보여주지 않겠다.
        4. Db.collection.find({"id":"test"}) -> SELECT * FROM TABLE WHERE ID = 'test'
        5. db.collection.find({"id":"test", "pass":"1234"}) -> SELECT * FROM TABLE WHERE ID = 'test' AND pass = '1234'
        6. db.collection.find({"id":"test"}, {"pass":"1234"}) -> SELECT * FROM TABLE WHERE ID = 'test' OR pass = '1234
        7. db.collection.find({"age" : {"$gt" : 25}}) -> SELECT * FROM TABLE WHERE age > 25
        8. db.collection.find({"age" : {"$lt" : 25}}) -> SELECTt * FROM TABLE WHERE age < 25
        9. db.collection.find({"id": {/bc/}}) -> SELECT * FROM TABLE WHERE id LIKE '%bc%'
        10. db.collection.find().sort({"id":1}) -> SELECT * FROM TABLE ORDER BY id ASC
        11. db.collection.find().sort({"id":-1}) -> SELECT * FROM TABLE ORDER BY id DESC
        12. db.collection.find().limit(10) -> SELECT * FROM TABLE LIMIT 10