In [1]:
import pandas as pd
import momentum as mm

In [2]:
df = pd.read_csv('../csv/AAPL.csv')

In [5]:
df1 = mm.first(df, 'Close')
df1.head()

               Close   STD-YM
Date
1980-12-12  0.513393  1980-12
1980-12-15  0.486607  1980-12
1980-12-16  0.450893  1980-12
1980-12-17  0.462054  1980-12
1980-12-18  0.475446  1980-12