# 연습
1. csv폴더 안에 num_1 폴더에 있는chipotle.tsv 로드
2. order_id 컬럼의 데이터의 타입을 str로 변경
3. 가장 많이 주문한 item_name 출력
4. item당 주문 총량의 top10을 바 그래프로 표시
5. item_price의 '$'를 제거하고 데이터 타입을 float 형태로 변경
6. 주문 당 평균 계산 금액 출력

In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [91]:
# csv폴더 안에 num_1 폴더에 있는chipotle.tsv 로드
df = pd.read_csv('../csv/num_1/chipotle.tsv', sep='\t')

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [93]:
# order_id 컬럼의 데이터의 타입을 str로 변경
df['order_id'] = df['order_id'].astype(str)

In [94]:
# 가장 많이 주문한 item_name 출력
df['item_name'] = df['item_name'].sort_values(ascending=False)
df['item_name'].loc[0]

'Chips and Fresh Tomato Salsa'

In [95]:
# item당 주문 총량의 top10을 바 그래프로 표시
grooup_data = df['item_name','item_price'].groupby('item_name').mean()

KeyError: ('item_name', 'item_price')

In [ ]:
# item_price의 '$'를 제거하고 데이터 타입을 float 형태로 변경
df['item_price'] = df['item_price'].str.replace('$','')
df['item_price'].astype(float)

/var/folders/28/yz261nq91vq_lj47hynw_10r0000gn/T/ipykernel_63977/2376223942.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['item_price'] = df['item_price'].str.replace('$','')

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [ ]:
# 주문 당 평균 계산 금액 출력
# 주문 당 평균 계산 금액은  총금액/총주문량
df['total_cost'] = df['item_price'].sum()
df['total_order'] = df['quantity'].sum()

In [96]:
df.head(20)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75